<table class="table table-hover table-bordered">
	<thead>
	<tr class="active">
		<th *ngFor="let column of columns">
			<input (keyup)="handleFilterKeyUp($event)"
			       class="form-control"
			       id="{{column.key}}"
			       name="{{column.key}}"
			       placeholder="{{column.name}}">
		</th>
	</tr>
	<tr class="active">
		<th *ngFor="let column of columns" (click)="handleHeaderClick(column.key)">
			<i class="fa" [ngClass]="getSortClass(column.key)"></i>
			{{column.name}}
		</th>
	</tr>
	</thead>
	<tbody>
	<tr class="active" *ngFor="let row of visibleRows" (click)="handleRowClick(row)">
		<td *ngFor="let column of columns">
			{{row[column.key]}}
		</td>
	</tr>
	</tbody>
</table>