<!--<form [formGroup]="companyForm"-->
      <!--(ngSubmit)="saveCompany(companyForm.value)"-->
      <!--autocomplete="off"-->
      <!--novalidate>-->
	<!--<div [ngClass]="{'error': !validateVatNumber() }">-->
		<!--<label for="vatNumber">VAT number</label>-->
		<!--<em *ngIf="!validateVatNumber() &&-->
			<!--vatNumber.errors.required">Required</em>-->
		<!--<em *ngIf="!validateVatNumber() &&-->
			<!--vatNumber.errors.pattern">Must start with number</em>-->
		<!--<br />-->
		<!--<input formControlName="vatNumber"-->
		       <!--id="vatNumber"-->
		       <!--type="text"-->
		       <!--placeholder="VAT number..." />-->
	<!--</div>-->
	<!--<div [ngClass]="{'error': !validateCompanyName() }">-->
		<!--<label for="companyName">Company name</label>-->
		<!--<em *ngIf="!validateCompanyName() &&-->
			<!--companyName.errors.required">Required</em>-->
		<!--<em *ngIf="!validateCompanyName() && companyName.errors.restrictedWords">-->
			<!--Restricted words found: {{companyName.errors.restrictedWords}}-->
		<!--</em>-->
		<!--<br />-->
		<!--<input formControlName="companyName"-->
		       <!--id="companyName"-->
		       <!--type="text"-->
		       <!--placeholder="Company name..." />-->
	<!--</div>-->
	<!--<br />-->

	<!--<button type="submit">Save</button>-->
	<!--<button type="button" (click)="cancel()">Cancel</button>-->
<!--</form>-->
<span>{{company}}</span>
