<table class="table table-hover table-bordered">
	<thead>
	<tr class="active">
		<th *ngFor="let column of columns">
			<input (keyup)="handleFilterKeyUp($event)"
			       class="form-control"
			       id="{{column.key}}"
			       name="{{column.key}}"
			       placeholder="{{column.name}}">
		</th>
	</tr>
	<tr class="active">
		<th *ngFor="let column of columns" (click)="handleHeaderClick(column.key)">
			<i class="fa" [ngClass]="getSortClass(column.key)"></i>
			{{column.name}}
		</th>
	</tr>
	</thead>
	<tbody>
	<tr class="active" *ngFor="let row of getVisibleRows()" (click)="handleRowClick(row)">
		<td *ngFor="let column of columns">
			{{row[column.key]}}
		</td>
	</tr>
	</tbody>
</table>
<ul class="pagination">
  <li [class.disabled]="isFirstPage()">
    <a class="link" aria-label="Previous" (click)="changePage(pagination.currentPage - 1)">
      <span aria-hidden="true">&laquo;</span>
    </a>
  </li>
  <li *ngFor="let page of getPages(); let i = index" [class.active]="(i + 1) === pagination.currentPage">
    <a class="link" (click)="changePage(i+1)">{{i+1}}</a>
  </li>
  <li [class.disabled]="isLastPage()">
    <a class="link" aria-label="Next" (click)="changePage(pagination.currentPage + 1)">
      <span aria-hidden="true">&raquo;</span>
    </a>
  </li>
</ul>
