<!-- Template based form -->
<h1>New place</h1>
<hr>
<div>
	<form #placeForm="ngForm"
	      (ngSubmit)="addPlace(placeForm.value)"
	      autocomplete="off"
	      novalidate>
		<div>
			<label for="zipCode">Zip Code:</label>
			<em *ngIf="placeForm.controls.zipCode?.invalid &&
				(placeForm.controls.zipCode?.touched || mouseoverSave)">Required</em>
			<br/>
			<input (ngModel)="zipCode"
			       name="zipCode"
			       required
			       id="zipCode"
			       type="text"
			       placeholder="Zip Code..." />
		</div>
		<div>
			<label for="placeName">Name:</label>
			<em *ngIf="placeForm.controls.placeName?.invalid &&
				(placeForm.controls.placeName?.touched || mouseoverSave)">Required</em>
			<br/>
			<input (ngModel)="placeName"
			       name="placeName"
			       required
			       id="placeName"
			       type="text"
			       placeholder="Place Name..." />
		</div>
		<br />
		<span (mouseenter)="mouseoverSave=true" (mouseleave)="mouseoverSave=false">
			<button type="submit" [disabled]="placeForm.invalid">Save</button>
		</span>
		<button type="button" (click)="cancel()">Cancel</button>
	</form>
</div>