<!-- Template based form -->
<h1>New place</h1>
<hr>
<div>
	<form #placeForm="ngForm"
	      (ngSubmit)="savePlace(placeForm.value)"
	      autocomplete="off"
	      novalidate>
		<div>
			<label for="postalCode">Zip Code:</label>
			<em *ngIf="placeForm.controls.postalCode?.invalid &&
				(placeForm.controls.postalCode?.touched || mouseoverSave)">Required</em>
			<br/>
			<input [ngModel]="place.postalCode"
			       (ngModelChange)="place.postalCode = $event"
			       name="postalCode"
			       required
			       id="postalCode"
			       type="text"
			       placeholder="Zip Code..." />
		</div>
		<div>
			<label for="name">Name:</label>
			<em *ngIf="placeForm.controls.name?.invalid &&
				(placeForm.controls.name?.touched || mouseoverSave)">Required</em>
			<br/>
			<input [ngModel]="place.name"
			       (ngModelChange)="place.name = $event"
			       name="name"
			       required
			       id="name"
			       type="text"
			       placeholder="Place Name..." />
		</div>
		<br />
		<span (mouseenter)="mouseoverSave=true" (mouseleave)="mouseoverSave=false">
			<button type="submit" [disabled]="placeForm.invalid">Save</button>
		</span>
		<button type="button" (click)="deletePlace()">Delete</button>
		<button type="button" (click)="cancel()">Cancel</button>
	</form>
</div>