<h3>
  {{isEdit ? 'Edit place ' + place.name : 'Add place'}}
</h3>
<hr>
<form [formGroup]="placeForm"
      (ngSubmit)="submitPlace(placeForm)"
      autocomplete="off"
      class="form-horizontal"
      novalidate>
  <div [ngClass]="getControlClass(model.postalCode)">
    <label class="control-label col-sm-2" for="postalCode">Postal Code:</label>
    <div class="col-sm-6 col-md-4">
      <input [formControlName]="model.postalCode"
             id="postalCode"
             class="form-control"
             placeholder="Zip Code..." />
      <div class='help-block' *ngIf="shouldDisplayError(model.postalCode)">Required</div>
    </div>
  </div>
  <div [ngClass]="getControlClass(model.placeName)">
    <label class="control-label col-sm-2" for="name">Name:</label>
    <div class="col-sm-6 col-md-4">
      <input [formControlName]="model.placeName"
             id="name"
             class="form-control"
             placeholder="Place Name..." />
      <div class='help-block' *ngIf="shouldDisplayError(model.placeName)">Required</div>
    </div>
  </div>
  <div class="col-sm-offset-2">
    <button type="submit" class="btn btn-primary" [disabled]="placeForm.invalid">
      Save
    </button>
    <button type="button" class="btn btn-warning"
            (click)="revertChanges()">
      Revert
    </button>
    <button type="button" class="btn btn-danger"
            modalTrigger="deletePlace"
            [disabled]= "!place._id"
            (click)="null">
      Delete
    </button>
    <button type="button" class="btn btn-default"
            (click)="cancel()">
      <i class="fa fa-chevron-left"></i> Cancel
    </button>
  </div>
</form>
<simple-modal elementId="deletePlace"
              (onConfirm)="deletePlace()"
              title="Delete place">
  Are you sure you want to delete {{place.name}} ?
</simple-modal>

